body {
    margin: 0;
    padding: 0;
    background: #a52a2a;
    font-family: cursive;
}

.app-title {
    margin: 0;
    padding: 10px;
    color: white;
}

div.todo-list {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

div.todo {
    height: 94px;
    width: 430px;
    background-color: #ffe000;
    margin: 20px 25px;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    float: left;
    padding: 10px;
    text-align: center;
}

div.todo:active {
    cursor: -webkit-grabbing;
}

div.todo h3 {
    font-size: 16px;
    padding: 5px;
    margin: 0 0 5px 0;
}

div.todo:hover > span {
    opacity: 1;
}

div.todo > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.todo button {
    margin: 2px;
}

div.todo > textarea {
    height: 50%;
    background: rgba(255, 255, 255, .5);
    margin: 0 0 5px 0;
    text-align: center;
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}
